/* COMMON */
body {
  color: #333;
  font-size: 16px;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}

div.wrapper {
  position: relative;
  min-width: 1100px;
  padding-top: 121px;
}

.inner {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

.hidden {
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
}

.btn {
  display: block;
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  transition: .4s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}

/* 버튼--반전상태 */
.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}


/* 버튼--갈색 */
.btn.btn--brown {
  color: #592B18;
  border-color: #592B18;
}
.btn.btn--brown:hover {
  background-color: #592B18;
  color: #fff;
}

/* 버튼--골드 */
.btn.btn--gold {
  color: #D9AA8A;
  border-color: #D9AA8A;
}
.btn.btn--gold:hover {
  background-color: #D9AA8A;
  color: #fff;
}

/* 버튼--흰색 */
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  background-color: #fff;
  color: #333;
}


/* Material Icons 버튼 */
.icons-btn {
  position: relative;
  display: flex;
  font-size: 0;
  line-height: 0;
  justify-content: center;
  align-items: center;
}

.icons-btn::after {
  content: '';
  line-height: 1 !important;
  font-family: 'Material Icons' !important;
}



/* */
.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right {
  transform: translateX(-150px);
}
.back-to-position.to-left {
  transform: translateX(150px);
}

.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}

.show .back-to-position.delay-0 {
  transition-delay: 0s;
}
.show .back-to-position.delay-1 {
  transition-delay: 1s;
}
.show .back-to-position.delay-2 {
  transition-delay: 2s;
}
.show .back-to-position.delay-3 {
  transition-delay: 3s;
}










/* HEADER */
header {
  z-index: 50;
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #ddd;
}

header > .inner {
  position: relative;
  z-index: 30;
  height: 120px;
}

header h1 {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}



ul#gnb {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}

ul#gnb > li > a {
  display: block;
  padding: 10px 20px 34px;
  font-size: 13px;
  font-family: Arial, sans-serif;
}

ul#gnb > li:hover > a {
  background-color: #2c2a29;
  color: #669908;
  border-radius: 6px 6px 0 0;
}

ul#gnb .gnb_sub {
  position: fixed;
  left: 0;
  width: 100%;
  display: none;
  background-color: #2c2a29;
}

ul#gnb > li:hover .gnb_sub {
  display: block;
}

ul#gnb ul.gnb_menu {
 display: flex;
 padding: 20px 0;
}


ul#gnb ul.gnb_menu > li {
  width: 220px;
}

ul#gnb ul.gnb_menu > li > a {
  display: block;
  padding: 3px 0 12px;
  font-size: 14px;
  color: #fff;
}

ul#gnb ul.gnb_menu > li li {
  padding: 5px 0;
  font-size: 12px;
}

ul#gnb ul.gnb_menu > li li a {
  color: #999;
  cursor: pointer;
}

ul#gnb ul.gnb_menu > li li a:hover {
  color: #669908;
}


ul#gnb .gnb_more {
  position: relative;
  padding: 10px 0;
}
ul#gnb .gnb_more:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  min-width: 1100px;
  height: 100%;
  background: url('../images/main_menu_pattern.jpg');
}
ul#gnb .gnb_more > li {
  position: relative;
  z-index: 10;
  padding: 10px 0;
}

ul#gnb .gnb_more a {
  display: block;
  font-size: 12px;
  color: #669908;
}

ul#gnb .gnb_more span {
  display: block;
  color: #999;
  padding-bottom: 4px;
  font-weight: 700;
}



/* 헤더 > 유틸메뉴 */
header ul.header-util {
  position: absolute;
  right: 0;
  top: 10px;
  display: flex;
  justify-content: flex-end;
  font-family: Arial, sans-serif;
}


header ul.header-util li {
  position: relative;
}

header ul.header-util li:not(:first-child)::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  line-height: 38px;
  background-color: #e5e5e5;
}

header ul.header-util a {
  display: block;
  padding: 10px 16px;
  font-size: 12px;
  color: #656565;
}

header ul.header-util li.search {
 padding: 0;
}

header ul.header-util li.search::before {
  content: 'search';
  font-family: 'Material Symbols Outlined' !important;
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100% - 2px);
  height:auto;
  border-radius: 5px;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: all .4s;
}

header ul.header-util input {
  width: 36px;
  height: 38px;
  border: 1px solid #ccc;
  padding: 0 10px;
  outline: none;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  font-size: 12px;
  transition: width .4s;
}

header ul.header-util li.focused::before {
  display: none;
}
header ul.header-util li.focused input {
  width: 190px;
  border-color: #669908;
  color: #777;
}


footer {
  padding: 40px 0 60px;
  background-color: #272727;
  border-top: 1px solid #333;
}


footer ul {
  display: flex;
  justify-content: center;
}

footer ul.menu li {
  position: relative;
}

footer ul.menu li:not(:last-child)::before {
  content: '';
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer a {
  display: block;
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
}

footer a.green {
  color: #669900;
}

footer ul.btn-group {
  padding: 30px 0;
  gap: 0 10px;
}

dl.company-info {
  position: relative;
  padding-bottom: 60px;
  font-size: 12px;
  color: #999;
}

dl.company-info dt img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

dl.company-info ul {
  gap: 0 20px;
}
dl.company-info p.copyright {
  padding-top: 15px;
  text-align: center;
}
